/* Default button shadow utility */
@utility shadow-default-button {
    box-shadow: 0px 2px 7.4px 0px #ffffff40 inset, 0px 4px 8px 0px #0064e24d;
}

@utility shadow-outline-button {
    box-shadow: 0px 2px 7.4px 0px #ffffff40 inset, 0px 7px 16px 0px #0064e24d;
}

@utility shadow-button-white {
    box-shadow: 0 4px 8px 0 rgba(0, 100, 226, 0.3), 0 2px 7.4px 0 rgba(255, 255, 255, 0.25) inset;
}

/* Curricula image container */

@utility curricula-image-container {
    clip-path: polygon(
        0.157% 9.721%,
        0.157% 9.721%,
        0.222% 8.573%,
        0.408% 7.483%,
        0.706% 6.465%,
        1.107% 5.532%,
        1.6% 4.701%,
        2.175% 3.984%,
        2.823% 3.397%,
        3.533% 2.953%,
        4.296% 2.668%,
        5.101% 2.555%,
        94.865% 0.132%,
        94.865% 0.132%,
        95.694% 0.206%,
        96.482% 0.463%,
        97.218% 0.889%,
        97.891% 1.467%,
        98.49% 2.183%,
        99.005% 3.021%,
        99.424% 3.967%,
        99.737% 5.006%,
        99.932% 6.121%,
        100% 7.299%,
        100% 65.585%,
        100% 65.585%,
        99.931% 66.975%,
        99.731% 68.311%,
        99.407% 69.578%,
        98.968% 70.76%,
        98.424% 71.844%,
        97.781% 72.813%,
        97.051% 73.654%,
        96.24% 74.351%,
        95.357% 74.89%,
        94.411% 75.255%,
        6.172% 100%,
        6.172% 100%,
        5.246% 100.137%,
        4.35% 100.037%,
        3.499% 99.719%,
        2.709% 99.202%,
        1.997% 98.504%,
        1.377% 97.645%,
        0.868% 96.643%,
        0.484% 95.517%,
        0.242% 94.285%,
        0.157% 92.968%,
        0.157% 9.721%
    );
}

@utility educational-programs-activity-image {
    clip-path: polygon(
        0px 16px,
        0px 16px,
        0.20941288px 13.40471835px,
        0.81569024px 10.9427648px,
        1.78589016px 8.64708145px,
        3.08707072px 6.5506104px,
        4.68629px 4.68629375px,
        6.55060608px 3.0870736px,
        8.64707704px 1.78589205px,
        10.94276096px 0.8156912px,
        13.40471592px 0.20941315px,
        16px 2.6488901491432e-31px,
        416px 0px,
        416px 0px,
        418.595391px 0.20941288px,
        421.057408px 0.81569024px,
        423.353117px 1.78589016px,
        425.449584px 3.08707072px,
        427.313875px 4.68629px,
        428.913056px 6.55060608px,
        430.214193px 8.64707704px,
        431.184352px 10.94276096px,
        431.790599px 13.40471592px,
        432px 16px,
        432px 424.712px,
        432px 424.712px,
        431.829763px 427.049014px,
        431.334104px 429.288192px,
        430.535601px 431.403338px,
        429.456832px 433.368256px,
        428.120375px 435.15675px,
        426.548808px 436.742624px,
        424.764709px 438.099682px,
        422.790656px 439.201728px,
        420.649227px 440.022566px,
        418.363px 440.536px,
        18.3627px 500.258px,
        18.3627px 500.258px,
        15.49866636px 500.429799px,
        12.73959168px 500.105392px,
        10.13176332px 499.324673px,
        7.72146864px 498.127536px,
        5.554995px 496.553875px,
        3.67862976px 494.643584px,
        2.13866028px 492.436557px,
        0.98137392px 489.972688px,
        0.25305804px 487.291871px,
        3.2142704577006e-31px 484.434px,
        0px 16px
    );
}

@utility hide-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}
